.newsletter-mail 
	height 3.3rem 
	background-color rgba(228, 38, 51, 0.2)
	border .1rem solid $red
	padding 1rem 

	@media $small-desktop-min
		display inline-block
		
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button 
	-webkit-appearance none 
	margin 0

.field 
	width 100%
	border .1rem solid $lightblue
	padding .6rem 1rem
	color #6d6e71;
	margin-bottom 1rem 
	
	&:focus, &:active
		outline 0
		
.negative 
	border .1rem solid $lightblue 
	padding 1rem 
	margin-top -1rem 
	margin-bottom 1rem
	
	&:after
		clear both
		display block
		content ''
		
select.field 
	padding .7rem 1rem
		
.field-descriptor 
	font-size 1.4rem 
	color #6d6e71

.edit-account, .edit-password
	font-size 1.2rem 
	color #6d6e71
	
	&:after
		clear both
		display block
		content ''
	
	label 
		display block
		width 100%
		
		&.encapsule
			cursor default

		&.error
			float right
			margin-bottom 20px
			color #e42633
			margin-top -5px
		
		.error
			width 80.298%
		
		&:after
			clear both
			display block
			content ''
	
	span 
		font-size 1.2rem
		margin-top 3px
		
		@media $tablet-max 
			display block
			margin auto 
			margin 0
		
		@media $tablet-min 
			float left
			width 19.702%
			padding-top .4rem
			
	input, select
				
		&:disabled
			border-color #e6e7e8
			background-color #FFF
			color #cacaca
			cursor not-allowed 
	
	.field
		height 3rem
		transition(border-color .35s ease-in-out)
		padding 0rem 1.2rem
		
		@media $tablet-min 
			float left
			width 80.298%
			
	.generic-blue
		float right
		
		&.after-edit
			display none
	
	a 
		display block
		margin-left 3%
		cursor pointer	
	
		
.newsletter-mail
	width 24.8rem
	color #FFF
	
.product-rating
	&:not(:checked)
		& > input
			position absolute
			top -9999px
			
		& > label 
			float right
			width 1em
			padding 0 .1em
			overflow hidden
			white-space nowrap
			cursor pointer
			font-size 300%
			line-height 1.2
			color #ddd
			
			&:before 
				content: '★'
				
			&:hover 
				color gold 
				
				& ~ label 
					color gold 
					
				& ~ input
					&:checked 
						& ~ label 
							color gold
				
	& > input 
		&:checked 
			& ~ label 
				color gold
				
				&:hover 
					color gold
					
					& ~ label 
						color gold
				
			& + label 
				&:hover 
					color gold
					
					& ~ label 
						color gold
						
	label
		&:active 
			position relative
			top 2px
			left 2px

.error-field
	color #F00
	font-size 1.2rem
	
#CaptchaDiv {
    font: bold 17px verdana, arial, sans-serif;
    color: #828282;
    padding: 3px;
    border: 1px solid #00aeef;
    text-align: center;
    cursor: default;
    background-color: #eee;
}

select.minimal {
    background: url('../images/icons/arrow-select.png');
    background-position: calc(100% - 10px) calc(1em + 0px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-repeat: no-repeat;
    background-color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.minimal::-ms-expand {
    display: none;
}
