.checkout
	padding 5.5rem 0
	
// IDENTIFICATION 

#register-checkout 
	@media $small-desktop-min
		.half + .half
			margin-left 5%

.extra
	.first-step 
		.reminders 
			float left 
			width 50% 
			
			a 
				width 100%
				
				&:last-of-type 
					margin-top .5rem 
							
		.generic-blue 
			float right
			margin-top 2.5rem
			
		@media $tablet-min 
			float left 
			width 60%
			
	.order-resume
		@media $tablet-min
			width 34.667%
			float left 
			margin-left 5.3333% 
			
//GENERICS 
		
.order-resume 
		
	h2 
		font-size 1.4rem 
		color $blue 
		font-weight bold 
		margin-bottom 1rem
		
	.row 
		padding 2.1rem 0  
		border-top .1rem solid $lightblue
		
		&:first-of-type
			border-bottom .1rem solid $lightblue
		
		&:after
			clear both 
			display block
			content ''
		
		span 
			float left
				
		.checkout-name
			width 70%
			font-size 1.4rem 
			color $lightblue
			
		.checkout-price
			width 30%
			text-align right
			font-size 1.4rem
			
	.order-summary
		width 100% 
		float right 
		 
		a 
			display block
			margin 1.4rem 0 
			float right 
			font-size 1.2rem 
			color $blue
			text-decoration underline
			
			@media $mobile-max 
				width 100%
				text-align right
			
		span 
			text-align right
			font-size 1.4rem
			
.step 
	@media $tablet-min
		float left
		width 30% 
		
		& + .step 
			margin-left 5%
			
	.finish-purchase
		margin-top 2rem
			
.small-question
	font-size 1rem 
	
.inactive	
	position relative 
	
	p 
		opacity 0.4
			
//SECOND STEP 

.second-step
	&:nth-of-type(n+2)
		m'a'rgin-top 4rem 
		
	h1 
		font-size 2.2rem 
		font-weight bold
		text-transform uppercase
		margin-bottom 2rem 
		
	.generic-blue
		width auto
		float right
		font-size 1rem
		
.hacked 
	.half + .half 
		margin-left 5%
		
.radiobox
	padding 0 
	display table-row
	
	.radioPagamento
		display table-cell
		background-color #c7eafb
		vertical-align middle
		padding 10px 0
		border-right 1px solid #00aeef
		width 37px
		text-align center


	& > small 
		width 28.333%
		float left
		padding-top .9rem
		text-align center
	
	small 
		font-size 1.2rem 
		color $blue 
	
	&:after
		clear both 
		display block
		content ''
		
		
	input[type="radio"] 
		height auto
		margin-top 0 auto 
		margin-bottom 0
		
.address
	margin-bottom 2rem
	
	input 
		display inline-block
		vertical-align top

	
		
// PAYMENT 
.cards 
	width 80%
	float left 
	margin 0 2.5%
	max-height 100%
	
	@media $tablet-minmax 
		margin-top 3.5% 
		
	@media $small-desktop-min 
		margin-top 1.5%
		

.card-placeholder
	@media $mobile-max
		display block
		margin 0 auto 1.5rem auto
		
	@media $tablet-min 
		margin-bottom 1.5rem 
		

.payment-method 
	width 45% 
	display table-cell
	padding-left .5rem
	text-align center
	vertical-align middle
	
	label 
		display inline-block
		vertical-align middle 
		width 66%
		text-align left
		margin-left 5%
		font-size 1.1rem
		color #002c4b
		padding-top 3px
		
		@media $tablet-minmax 
			width 90% 
			padding-top .1rem
		
	img 
		display inline-block
		vertical-align middle
		
		@media $tablet-minmax
			display none
		
.discounted 
	display table-cell
	width 39%
	vertical-align middle
	
	@media $tablet-minmax 
		padding .4rem .4rem .3rem 0 
	
.price-checkout 
	text-align right
	clear both
	
@media print 
	header, footer, .lined, .confirmation-segment button, .confirmation-segment a, .social-fixed
		display none !important
		
	.center-content 
		max-width 100rem !important
		
	.confirmation-segment 
		float left !important
		width 49% !important
		min-height 32rem !important
		
		& + .confirmation-segment
			margin-left 2% !important
			
		
label[for="payment_method_boleto"] small, 
label[for="payment_method_boleto"] img, 
label[for^="payment_method_"] small {
    display: none;
}

.descript-methods-pay p {
	text-align: justify;
	color: #001f6f;
	opacity: 1 !important;
	width: 100%;
	margin: 5px 0;
    float: left;
    width: 100%;
}
fieldset#cielo-credit-payment-form .required {
    display: none;
}


.descript-methods-pay {
	input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #cccccc;
	}
	input::-moz-placeholder { /* Firefox 19+ */
	  color: #cccccc;
	}
	input:-ms-input-placeholder { /* IE 10+ */
	  color: #cccccc;
	}
	input:-moz-placeholder { /* Firefox 18- */
	  color: #cccccc;
	}
	
	input, select{
		font-size: 1.3rem !important;
	    padding: 4px 10px;
	    border: 1px solid #00aeef;
	    outline: none;
	}
}

.payment_method_cielo_credit .descript-methods-pay > p {
    display: none;
}

fieldset#cielo-credit-payment-form p:nth-child(4) {
    width: 45%;
    margin-right: 5%;
}
fieldset#cielo-credit-payment-form p:nth-child(5) {
    width: 50%;
}
#cielo-credit-payment-form p input {
    width: 100%;
}
.payment_box.payment_method_cielo_credit.negative label {
    color: #676767;
    margin-bottom: 5px !important;
    display: block;
}
.descript-methods-pay option[disabled] {
    color: #cccccc;
}

.payment_box.negative{
    border-top: 0.1rem solid #00aeef !important;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-bottom: 0;
}