.contact-us 
	padding 4.6rem 2.1rem
	margin-bottom 7rem
	float left
	width 100%
	
	@media $mobile-max 
		float none
		display block
		width 90%
		margin 0 auto 5rem auto
		
.information-segment 
		
	@media $tablet-min 
		float left 
		
	p 
		line-height 2.2rem 
		
		&:nth-of-type(5)
			margin-top 2.5rem
				
		
	&:first-of-type
		@media $mobile-max 
			padding-bottom 2rem 
			border-bottom .1rem solid $lightblue
			margin-bottom 2rem 

		@media $tablet-min
			width 35%
			border-right .1rem solid $lightblue
			height 39rem
			padding-right 3rem
				
	& + .information-segment
		
		@media $tablet-min 
			width 60% 
			margin-left 5% 
			
	label 
		display block
		
		&.error
			margin-left 20%
			float left
			width 80%
			height auto
			margin-top -5px
			margin-bottom 20px
			font-size 1.2rem
			color #e42633
			
			@media $mobile-max 
				margin 0 0 20px 0
				float none
				width 100%

		@media $tablet-min 
			height 2.9rem  
			
	span 
		@media $mobile-max 
			display block
			margin 1rem 0
			
		@media $tablet-min 
			float left 
			width 20%
			
	textarea 
		height 11.8rem 
		resize none
		
	button 
		width 16.2rem
		
		@media $tablet-min 
			float right
			margin-top 1rem
				
	.field  
		@media $mobile-max 
			height 3.2rem 

		@media $tablet-min 
			float left 
			width 80%
			
			&:not(textarea)
				height 2.8rem
			
	.captcha 
		@media $mobile-max 
			margin-bottom 2rem
			
		@media $tablet-min 
			float left 
			width 17.5% 
			
		& + input 
			@media $tablet-min
				margin-left 2.5% 
				width 60%
					 