.identification
	
	@media $tablet-min
		padding-bottom 7.5rem
		
.identify 
	height 33rem 
	
	@media $tablet-min 
		float left
		width 47.5% 
		
		& + .identify 
			margin-left 5%
			
	&:first-of-type
		button 
			float right
			
.first-step 
	h2.has-icon 
		&:before 
			content '\f007'
				

			
		

