.highlights 
		
	& > .center-content
		@media $mobile-max
			margin-top -17.8rem
			
		@media $tablet-min 
			margin-top -31.8rem

.full-bg	
	.slide 
		background url('../images/banners/01.jpg') no-repeat center center / cover
		height 80rem 
		width 100%
		outline none !important
		
.section-picker
	position relative
	
	@media $tablet-max 
		padding 2.7rem 0 9.3rem 0
		
	@media $small-desktop-min
		padding 8.7rem 0 9.3rem 0
	
	&:after
		@media $tablet-min 
			clear both 
			display block
			content ''
	
	.option
		overflow hidden
		
		&.active
			
			h1 
				color #FFF

			.option-submenu 
				animation fadeIn 0.3s ease-in-out forwards
		
		@media $tablet-min 
			float left 
			width 25%
			height 45em	
			
		
	.heading 
		height 5rem
		text-align center
		padding 1.4rem 0
		border .1rem solid $lightblue 
		background-color $blue
		position relative
		
		h1 
			font-size $r-font 
			font-weight bold 
			color $lightblue
			

	.background-form 
		background-position top center 
		background-size cover 
		background-repeat no-repeat 
		position absolute
		top 0
		left 0 
		width 100%
		height 100%
		filter grayscale(100%)
		-moz-filter grayscale(100%)
		transition(all 0.25s ease-in-out)
	
	.overview 
		height 100%
		border .1rem solid #FFF
		position relative
		background-color $blue
		height 44rem
		position relative
		

		&:hover
			.background-form 
				filter grayscale(0%)
				-moz-filter grayscale(0%)

		&.blue 
			.background-form 
				background-image url('../images/backgrounds/1.png')
			
		&.red 
			.background-form 
				background-image url('../images/backgrounds/2.png')
			
		&.yellow
			.background-form  
				background-image url('../images/backgrounds/3.png')
			
		&.green 
			.background-form 
				background-image url('../images/backgrounds/4.png')
			 
		
		@media $tablet-min 
			float left 
			width 25%  
		
	.highlight
		height 100% 
		width 100% 
		background-size cover 
		background-position center center 
		background-repeat no-repeat
		position relative
		z-index 10
		
		&.muscle 
			background-image url('../images/highlights/1.png')	
			
		&.thinning
			background-image url('../images/highlights/2.png')
			
		&.energy 
			background-image url('../images/highlights/3.png')
			
		&.health
			background-image url('../images/highlights/4.png')
		
	.subtitle 
		position absolute
		width 100%
		bottom 0
		left 0 
		background-color rgba(6, 46, 74, 0.9)
		border .1rem solid #fff
		text-align center
		z-index 10
		
		@media $tablet-min 
			height 8.8rem
		
		@media $tablet-minmax 
			padding 2.5rem 0
			
		@media $smallest-desktop-minmax
			padding 3rem 4.7rem
			
		@media $small-desktop-min
			padding 2rem 4.7rem
		
		h2 
			color #FFF 
			font-weight bold
			
			@media $tablet-minmax
				font-size 1.8rem 
				line-height 1.8rem 
				
			@media $smallest-desktop-minmax
				font-size 1.8rem

			@media $desktop-min
				font-size 2.2rem 
				line-height 2.4rem 
				
				
.option-submenu
	position absolute
	z-index 20
	left 0 
	width 100% 
	background-color #FFF
	text-align center
	visibility hidden
	opacity 0
	border .1rem solid #e6e7e8
	
	@media $mobile-max 
		display none
	
	@media $tablet-minmax 
		top 7.7rem
		
	@media $small-desktop-min
		top 13.7rem
	
	&.five 
		&:after
			clear both 
			display block
			content ''
			
		& > li:not(.more-contain)
			@media $tablet-min
				width 24.87% 
				float left
				
				& + li 
					margin-left 0.1317%
			
	&.categories 
		li 
			height 2.8rem 
			width 100% 
			border-bottom .1rem solid #FFF 
			color #6d6e71
			background-color $greyvariant
			padding .6rem 0
			transition(all 0.25s ease-in-out)
			overflow hidden
			
			@media $smallest-desktop-minmax
				font-size 1.2rem

			@media $desktop-min
				font-size 1.4rem
			
			&:hover
				background-color darken($greyvariant, 20)
				color #FFF
			
			&:first-of-type 
				height 4.9rem 
				background-color #FFF
					
				@media $tablet-max 
					padding 1.7rem 0 
					
				@media $small-desktop-min
					padding 1.5rem 0 
				
				h2  
					font-weight bold 
					color #6d6e71
					
					@media $tablet-max 
						font-size 1.2rem
						
					@media $small-desktop-min 
						font-size 1.6rem
						
						
	&.brands 
		@media $tablet-min
			background-color #f1f2f2
		
		li
			position relative 
			
			li:not(.more-contain) 
				background-color #FFF
				height 12rem
				opacity 1		
				transition(opacity 0.25s ease-in-out)
				
				@media $tablet-min
					margin-bottom .2rem
				
				&:hover 
					opacity 0.7 
					
			a 
				position absolute
				width 100% 
				height 100% 
				flex()
				justify-content center 
				align-items center
				padding 2rem 1rem
				
		.full 
			margin-left 0 !important
			right 0 
			width 100% !important
			height 9.2rem 
			color #FFF
			font-size 2rem 
			text-align center
			background-color #ababab
			position relative
			border .1rem solid #ababab
			transition(all 0.25s ease-in-out)
			
			&:hover 
				background-color #FFF 
				
				a 
					color #ababab
			
			a 
				position absolute
				width 100% 
				height 100%
				left 0
				right 0 
				margin auto
				padding 3.55rem 0
				font-weight bold
			
		.more-contain 
			width 100% 
			height 9.2rem
			position relative
			clear both
			margin-left 0
			
			.more 
				width 100% 
				height 100% 
				position absolute
				top 0 
				left 0
				background-color #ababab 
				border 0 	
				
	&.sales 
		padding 1.5rem 
		
		.product 
			margin-bottom 0
			margin-left 1.2rem !important	
						
				
.top-sellers
	background-color #e5e9ed
	padding-bottom 5.5rem
	
	@media $mobile-max 
		padding-top 4rem
				
.starred 
	font-size 0 
	text-align center
	padding 3.5rem 0 1.8rem 0 
	
	@media $mobile-max 
		padding 1.5rem 0 1.8rem
		
	i
		color #ffcb05
		font-size 4rem
		
		@media $mobile-max
			font-size 2rem 
		
		&.huge
			font-size 6rem
			
			@media $mobile-max
				font-size 4rem  
			
		& + i 
			margin-left 2%
			

.offers 
	padding-top 8.5rem 
	
	@media $mobile-max
		padding-top 4.5rem
	
	.title-rulers 
		hr 
			@media $smallest-desktop-minmax
				width 37%

			@media $desktop-min 
				width 36%
	
.exclusive
	@media $mobile-max
		display none
			
.mobile-only 
	@media $tablet-min
		display none


.feed 
	padding .6rem .9rem 
	line-height 1.8rem
	height 2.8rem 
	background-color #f1f2f2
	border .1rem solid #a7a9ac
	overflow hidden
	margin-top 1rem
	position relative
	
	p
		position absolute 
		font-size 1.4rem 
		color $blue 
		width 100% 
		height 100% 
		transform(translateX(100%))
		
		&:first-of-type 
			animation left-one 20s ease-in-out infinite

		&:nth-of-type(2)
			animation left-two 20s ease-in-out infinite
		
	a
		color $red 
		font-size inherit
		
		
		
.division 
	.red-basic 
		@media $small-desktop-min
			margin-left 6%
			display inline-block
			
	.newsletter
		@media $smallest-desktop-minmax 
			width 50% 
			text-align right

		@media $desktop-min
			width 32%  
			display inline-block
			padding-top 3px
			
		input 
			color #FFF
			
	.youtube 
		background url('../images/common/youtube.png') no-repeat center center / contain 
		position absolute
		left 0 
		right 0 
		top -.5rem 
		margin auto 
		width 32rem 
		height 13.3rem 
		
		@media $tablet-max 
			display none
			
footer
	margin-top 7rem
	
.ofertas-products .generic-stripe{
	opacity: 0;
	transition: 0.3s all;
}

.ofertas-products .product:hover .generic-stripe,
.ofertas-products .product:hover .discount-stripe{
	opacity: 1;
}

.ofertas-products .discount-stripe{
	opacity: 0;
	transition: 0.3s all;
}
.ofertas-products .discount-stripe:before {
    top: 7px;
    right: 1.5rem;
    font-size: 1.8rem;
}

.ofertas-products small {
    font-size: 1.2rem;
    margin-left: -0.3rem;
    margin-right: 1px;
    letter-spacing: 0.3px;
}


.option .objectives {
	li ul li {
		height: 4.9rem;
		background-color: #FFF;
			
		@media $tablet-max {
			padding: 1.7rem 0;
		    width: 25%;
		    float: left;
		}
			
		@media $small-desktop-min {
			padding: 1.5rem 0;
		    width: 25%;
		    float: left;
		}
		
		h2  {
			font-weight: bold;
			color: #6d6e71;
			
			@media $tablet-max {
				font-size: 1.2rem;
			}
				
			@media $small-desktop-min {
				font-size: 1.6rem;
			}
		}
	}
}
