.product-wrapper 
	position relative
	
.breadcrumb
	position absolute
	top 0 
	width 100%
	background-color: #e5e9ed
	z-index 10
		
.path 
	font-size 1.6rem 
	color $blue
	padding 1.2rem 0
	font-weight bold
	text-transform uppercase
	
	@media $tablet-max 
		text-align center
	
	.actual 
		font-weight bold
		
	span
		&:not(.actual)
			@media $tablet-max 
				display none
	
	a
		font-weight normal

.product-page
	padding-top 12rem 
	margin-bottom 3rem

	&:after
		clear both
		display block
		content ''
		
	.center-content
		@media $tablet-max 
			flex()
			flex-wrap wrap 
			
	.slick-arrow
		&.slick-prev
			left 0 	
			
			@media $smallest-desktop-minmax
				left -.5rem 
				 	
		&.slick-next 
			right 0 
			
			@media $smallest-desktop-minmax
				right -.5rem 
				 
				
			

.product-details-segment
	
	@media $tablet-max
		width 100%
	
	@media $small-desktop-min 
		float left 
		width 31.91666% 
		
		& + .product-details-segment
			margin-left 2.12501%
			
	&:first-of-type 
		@media $tablet-max
			order 2 
		
	&:last-of-type
		@media $tablet-max 
			order 3
	
	p
		color $blue 
		font-size 1.4rem 
		line-height 2.4rem 
		
	.bordered
		padding 1.3rem 
		margin-bottom 1rem 
		
	.discount-stripe
		width 70%
		padding 0
		
		&:after
			border-color darken($red, 30%) transparent transparent transparent
			
		@media $smallest-desktop-minmax
			width 80%
			
	a 
		color $lightblue
		font-size 1.2rem 
		text-decoration underline
		
		@media $tablet-max
			display none
		
	.freight-information, .disponibility 
		@media $tablet-max 
			display none
			

.product-single-content
	table {
		background white
		border-radius 3px
		border-collapse collapse
		border 1px solid #c1c3d1
		margin 20px auto
		max-width 600px
		margin-top 5px
		width 100%
		box-shadow 0 5px 10px rgba(0, 0, 0, 0.1)
		animation float 5s infinite
	}

	th
		color #D5DDE5
		background #1b1e24
		border-bottom 4px solid #9ea7af
		border-right 1px solid #343a45
		font-size 23px
		font-weight 100
		padding 24px
		text-align left
		text-shadow 0 1px 1px rgba(0, 0, 0, 0.1)
		vertical-align middle


	th:first-child
		border-top-left-radius 3px

	th:last-child 
		border-top-right-radius 3px
		border-right none


	tr 
		border-top 1px solid #C1C3D1
		border-bottom 1px solid #C1C3D1
		color #666B85
		font-weight normal
		text-shadow 0 1px 1px rgba(256, 256, 256, 0.1)

		td 
			background #FFFFFF
			padding 5px
			text-align left
			vertical-align middle
			font-weight 300
			font-size 1.4rem
			text-shadow -1px -1px 1px rgba(0, 0, 0, 0.1)
			border-right 1px solid #C1C3D1
			

		th
			text-align left


.product-segment
	padding 3.2rem 0
	color $blue 
	font-size 1.6rem
	line-height 2.4rem
	
	p, li 
		color inherit
		font-size inherit
		line-height inherit
		
.brand-final
	display inline-block
	font-size 1.6rem 
	font-weight bold 
	color $blue
			
.product-title
	color $red
	font-size 2.6rem 
	font-weight bold
	
.topic 
	display inline-block
	vertical-align baseline
	
.product-picture 
	@media $tablet-max
		margin-bottom 4rem 
		
	div 
		@media $small-desktop-min 
			height 45rem
			
		img 
			display block
			margin auto

.price-and-payment 
	width 65% 
	float left 
	margin-bottom 3rem
	
	small 
		font-size 14px
	
	p
		color #6d6e71
		line-height 2rem
		
	.dashed
		text-decoration line-through
		
	.final-price
		margin-top 1rem
		
		span 
			font-weight bold 
			color $lightblue
			line-height initial
			
		small 
			display block
			font-size 1.4rem 
			
.product-options
	margin 3rem auto
	clear both
	
	.bordered 
		height 3.8rem
		padding .5rem
		width 100% 
		
	small 
		font-size 1.4rem
		color $blue
		font-weight bold
		display block
		margin-bottom .8rem

.economize-box
	position relative
	
	i
		font-size 28px
		background-color transparent
		transform rotate(-128deg)
		position absolute
		left -25px
		bottom 30px
		
.xg 
	font-size 4rem 
	
	@media $smallest-desktop-minmax  
		font-size 3rem
		
	@media $mobile-max 
		font-size 3rem 

.xxg 
	font-size 8.8rem 
	
	@media $smallest-desktop-minmax
		font-size 4.8rem 
		
	@media $mobile-max 
		font-size 4.8rem 
	

.installment-price
	color $lightblue
	font-weight bold
	
.promotional-information
	float left 
	width 32.5%
	margin-left 2.5%	
	
	.generic-stripe
		@media $smallest-desktop-minmax
			font-size 1.2rem 
			
		@media $mobile-max 
			font-size 1.1rem
			
	.discount-stripe
		@media $mobile-max
			width 80%
				
	
.rating
	@media $tablet-max
		display none
		
	p 
		display inline-block
		vertical-align top
		
	.product-rating
		display inline-block
		margin-top -1rem

.freight-calculation.bordered
	padding-left 1.3rem
	padding-right 0
	flex()
	height 3.8rem
	align-items center
	
	@media $tablet-max 
		display none
	
	input, p 
		width 43.4215%
	
	input 
		height 3.6rem 
		border 0 
		border-left .1rem solid $grey
		padding .5rem
		
		&:focus 
			outline 0
			background-color lighten($grey, 90%)
		
	button
		width 13.157% 
		height 3.6rem 
		border 0 
		border-left .1rem solid grey
		color $blue
		font-size 2rem
		background-color #FFF
		transition(background-color 0.25s ease-in-out)
		outline none !important
		
		&:hover
			background-color lighten($grey, 70%)

.icons-detail {
	background: url('../images/icons/icons-detail.png');
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.icons-detail.detalhes-i {
	height: 27px;
	width: 32px;
}

.icons-detail.beneficios-i {
	background-position: 0 -30px;
	height: 31px;
	width: 33px;
}

.icons-detail.sugestao-i {
	background-position: 0 -67px;
	height: 38px;
	width: 33px;
}

.icons-detail.informacao-i {
	background-position: 0 -109px;
	height: 31px;
	width: 37px;
}


.fixedBox{
	position: fixed;
	right: 0;
	top: 90px;
	background-color: white;
	z-index: 99;
    max-width: 430px;
	padding: 20px;
	box-shadow: -2px 5px 11px 1px #c5c5c5;
	
	@media $tablet-max {
	    position: static;
	    background-color: #fff;
	    padding: 0;
	    box-shadow: none;
	}
}

.product-segment .center-content div,
.product-segment .center-content p{
    padding-right: 31.91666%
    
	@media $tablet-max {
		padding-right: 0;
	}
}