.page-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 60px;
    margin-top: 100px;
}

.pagination {
    float: left
    width: 100%
    text-align: center
    font-size: 24px
}

@media $tablet-max
    .pagination
        float none
        display block
        margin 30px 0

.small-arrow {
    width: 0;
    height: 0;
    border-style: solid;

    &.right {
        border-color: transparent transparent transparent #000000;
        border-width: 3.5px 0 3.5px 4px;
        margin-left: 10px;
    }
    
    &.left {
        border-color: transparent #000 transparent transparent;
        border-width: 3.5px 4px 3.5px 0;
        margin-left: 10px;
        margin-right: 5px;
    }
}

.prev.page-numbers{
	display: none;
}

.page-numbers.current {
    font-weight: bold;
}

.page-numbers{
	margin-left: 5px;
}