// Fonts mixin
font-url(file)
  return '../fonts/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.otf')) format('opentype')
    src url(font-url(file + '.woff')) format('woff')
    font-weight weight
    font-style normal
  if hack-chrome-windows
    @media screen and (-webkit-min-device-pixel-ratio:0)
      @font-face
        font-family family
        src url(font-url(file + '.svg#'+ family)) format('svg')
        

// How to use:
// webfont('font-name', 'file-name', chrome-hack-boolean, 'weight')
        

transform(transforms)
  -moz-transform transforms
  -o-transform transforms
  -ms-transform transforms
  -webkit-transform transforms
  transform transforms
  

transition(transitions)
  -moz-transition transitions
  -o-transition transitions
  -ms-transition transitions
  -webkit-transition transitions
  transition transitions
  
clip(c, f)
  -webkit-background-clip c 
  -webkit-text-fill-color f
  -moz-background-clip c 
  -moz-text-fill-color f 
  -ms-background-clip c 
  -ms-text-fill-color f 
  -o-background-clip c 
  -o-text-fill-color f 
  



flex()
  display -webkit-box      
  display -moz-box         
  display -ms-flexbox      
  display -webkit-flex    
  display flex  