.social-fixed {
    position: fixed;
    left: 5px;
    top: 45%;
    margin-top: -50px;
    z-index: 998;
    background-color: #FFF;
    padding: 5px;
	
	@media $tablet-max {
		left: -48px;
	}

	span {
	    display: none;
	    position: absolute;
	    right: -33px;
	    top: 44px;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 20px 0 19px 33px;
	    border-color: transparent transparent transparent #de2323;
	    cursor: pointer;
	}
	
	div {
	    width: 38px;
	    height: 38px;
	    background-color: #de2323;
	    border-right: 2px solid #bc1c1c;
	    margin-bottom: 2px;
	    z-index: 99999;
	    
	    &:hover{
    	    background-color: #bc1c1c;
			transition: 0.3s all;
	    }

		a {
			display: block;
			
			i {
				display: block;
				width: 100%;
				height: 100%;
				font-size: 22px;
				color: white;
				text-align: center;
				line-height: 38px;
			}
		}
	}
}
